@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding:0;
  margin:0;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
  color:#2d2d2d;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


